    
    nav {
      position: fixed;
      top: 0;
      background: $color-1;
      width: 100%;
      height: 72px;
      z-index: 1;
    
      ul {
        @include flex-row;
        margin-right: 148px;
        margin-top: 26px;
        gap: 44px;
      }
    
      li {
        list-style: none;
        color: $color-2;
        position: relative;
      }
    
      a {
        @include font-14-lh-17;
        text-decoration: none;
        color: $color-2;
        text-align: right;
        opacity: 0.63;
        position: relative;
        transition: 0.3s; 
      }
    
      a::after {
        content: "";
        position: absolute;
        bottom: -27px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-6;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }
      a:hover {
        cursor: pointer;
        opacity: 100%;
    
        &::after {
          transform: scaleX(1);
        }
      }
    
      .navBar {
        @include flex-space-between;
      }
    
      .navLogo {
        margin-left: 147px;
        margin-top: 10px;
      }
    }
    
  
    

     
